body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    position: relative;
  }
  
  .box {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
  }
  
  .red {
    background-color: #ff5858;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .green {
    background-color: #66ff66;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .blue {
    background-color: #6cb4ff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  